<IfModule mod_passenger.c>
    PassengerRoot /home/openproject/.rbenv/versions/{{ rbenv_version }}/lib/ruby/gems/{{ gem_version }}/gems/passenger-{{ passenger_version }}
    PassengerDefaultRuby /home/openproject/.rbenv/versions/{{ rbenv_version }}/bin/ruby
</IfModule>